<!--<script id="cadastro.html" type="text/ng-template">-->

  <!--<div class="modal">-->

    <ion-view view-title="Cadastro">
      <ion-content>
        <!--<form ng-submit="createUser(user)">-->
          <div class="list">
            <label class="item item-input item-stacked-label">
              <span class="input-label">Nome Completo</span>
              <input type="text" placeholder="João da Silva" ng-model="user.name">
            </label>
            <label class="item item-input item-stacked-label">
              <span class="input-label">Email</span>
              <input type="text" placeholder="john@suhr.com" ng-model="user.email">
            </label>
            <label class="item item-input item-stacked-label">
              <span class="input-label">Telefone</span>
              <input type="text" placeholder="+55(61)98205-6613" ng-model="user.phone">
            </label>
            <label class="item item-input item-stacked-label">
              <span class="input-label">Senha</span>
              <input type="password" placeholder="********" ng-model="user.password">
            </label>
            <label class="item item-input item-stacked-label">
              <span class="input-label">Confirmação de Senha</span>
              <input type="password" placeholder="********" ng-model="user.passwordConf">
            </label>
          </div>
          <div class="padding">
            <button ng-click="register()" class="button button-block button-positive padding">
              Cadastrar
            </button>
          </div>
        <!--</form>-->
      </ion-content>
    </ion-view>

  <!--</div>-->

<!--</script>-->
