<ion-view view-title="carrinho" class="DarkBackground">
  <ion-content>

<!-- SEARCH -->
	<div class="list list-inset">
  		<label class="item item-input">
    		<i class="icon ion-search placeholder-icon"></i>
    		<input type="text" placeholder="Search">
  		</label>
	</div>


<!-- LISTA -->
<div class="list">


    <div class="row" id="carrinhoHeader">
  		<div class="col col-10" style="text-align: left;">Lixo</div>
  		<div class="col col-50" style="text-align: left;">Produto</div>
  		<div class="col" style="text-align: right;">R$ uni * </div>
  		<div class="col" style="text-align: left;">Qnt</div>
  		<div class="col ">total</div>
	</div>


<ion-list>
  <ion-item ng-repeat="item in itemsDoCarrinho()">
    <div class="row" id="carrinhoDeComparasList">
  		<div class="col col-10"><button onclick="removerItemDoCarrinho(0)"><i class="icon ion-trash-a"></i></button></div>
  		<div class="col col-50">{{item.nome}}</div>
  		<div class="col" style="text-align: right;">R$ {{item.precoUn}} * </div>
  		<div class="col">{{item.qnt}}</div>
  		<div class="col" style="text-align: right;">{{item.precoUn * item.qnt}}</div>
	</div>
  </ion-item>
</ion-list>

    <div class="row" id="carrinhoFooter">
  		<div class="col col-100">Preço Total: R$ {{totalPreco()}}</div>
	</div>


</div>

    
<div style="padding: 10px;">
	<button class="button button-block button-positive button-energized" style="font-size: 20px; color: black;">
  	Comprar
	</button>
</div>



  </ion-content>
</ion-view>
