<ion-view view-title="Categorias" class="DarkBackground">
  <ion-content>
    <!-- SEARCH -->
  	<div class="list list-inset">
    		<label class="item item-input">
      		<i class="icon ion-search placeholder-icon"></i>
      		<input type="text" placeholder="Search">
    		</label>
  	</div>

    <ion-refresher pulling-text="Pull to refresh" on-refresh="doRefresha()"></ion-refresher>

    <ion-list>
      <ion-item ng-repeat="categoria in categories">
        <div class="row" id="categoriasproduto" ng-click="setSelectedCategory(categoria)">
      		<div class="col col-50">{{categoria.descricao}} e {{selectedMarket.nome_fantasia}}</div>
    	</div>
      </ion-item>
    </ion-list>

    <br />
    <div class="padding">
      <a href="#/app/carrinho" class="button button-block button-positive padding">
        Ver carrinho
      </a>
    </div>

  </ion-content>
</ion-view>
