<ion-view view-title="Comprar">
  <ion-content>
    <div class="button button-full button-energized">
        <h4 class="title">Pagamento</h4> <h3>Cartão de Crédito</h3>
    </div>

    <div class="row">
      <div class="col col-50" style="text-align: left;"><h4>Valor total da Compra:</h4></div>
      <div class="col col-50" style="text-align: right;"><h4>R$ {{totalPreco()}}</h4></div>
    </div>

    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Número do Cartão de Crédito</span>
        <input type="text" ui-mask="9999 9999 9999 9999" ui-mask-placeholder placeholder="1111 1111 1111 1111" ng-model="cartao_credito.number" required>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Nome (Como está no cartão)</span>
        <input type="text" placeholder="João J P G Silva" pattern=".{5,}" ng-model="cartao_credito.name" required>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Código de Segurança</span>
        <input type="text" ui-mask="999" ui-mask-placeholder placeholder="999" ng-model="cartao_credito.cod_seg" required>
      </label>
      <label class="item item-input item-stacked-label">
          <div class="row">
            <div class="col">
              <span class="input-label">MÊS: </span>
              <select ng-model="cartao_credito.month" required>
                <option ng-repeat="item in getMeses()">{{item}}</option>
              </select>
            </div>
            <div class="col">
              <span class="input-label">ANO: </span>
              <select ng-model="cartao_credito.year" required>
                <option ng-repeat="item in getAnos()">{{item}}</option>
              </select>
            </div>
          </div>
    </label>
    </div>
    <div class="padding">
      <button ng-click="prepareCompra()" class="button button-block button-energized padding">
        Confirmar
      </button>
    </div>
  </ion-content>
</ion-view>
