<ion-view view-title="Login">
  <ion-content>
    <!--<form ng-submit="createUser(user)">-->
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Email</span>
          <input type="email" placeholder="john@suhr.com" ng-model="user.email" required>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Senha</span>
          <input type="password" placeholder="*********" ng-model="user.password" required>
        </label>
      </div>
      <div class="padding">
        <button ng-click="login()" class="button button-block button-positive padding">
          Logar
        </button>
      </div>
      <div class="padding">
        <a href="#/app/cadastro" class="button button-block button-balanced padding">
          Cadastrar
        </a>
      </div>
    <!--</form>-->
  </ion-content>
</ion-view>
