<ion-view view-title="Produtos" class="DarkBackground">
  <ion-content>
    <!-- SEARCH -->
  	<div class="list list-inset">
    		<label class="item item-input">
      		<i class="icon ion-search placeholder-icon"></i>
      		<input type="text" placeholder="Search">
    		</label>
  	</div>
    <ion-list>
      <ion-item ng-repeat="product in products">
        <div class="row" id="categoriasproduto">
      		<div class="col col-67">{{product.nome}}</div>
            <!-- e {{selectedCategory.descricao}}</div> -->
          <button class="col col-offset-10 icon ion-plus-circled padding" ng-click="addToCart(product)"></button>
    	</div>
      </ion-item>
    </ion-list>

    <br />
    <div class="padding">
      <a href="#/app/carrinho" class="button button-block button-positive padding">
        Ver carrinho
      </a>
    </div>

  </ion-content>
</ion-view>
