<ion-view view-title="Produtos" class="DarkBackground">
  <ion-content>
    <!-- SEARCH -->
  	<div class="list list-inset">
    		<label class="item item-input">
      		<i class="icon ion-search placeholder-icon"></i>
      		<input type="text" placeholder="Search">
    		</label>
  	</div>
    <ion-list>
      <ion-item ng-repeat="product in products">
        <div class="row" id="categoriasproduto">
      		<div class="col col-50">{{product.nome}} e {{selectedCategory.descricao}}</div>
    	</div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
