<ion-view view-title="supermercados" class="DarkBackground">
  <ion-content>

<!-- SEARCH -->
	<div class="list list-inset">
  		<label class="item item-input">
    		<i class="icon ion-search placeholder-icon"></i>
    		<input type="text" placeholder="Search">
  		</label>
	</div>


<!-- LISTA -->
    <ion-list>
      <ion-item ng-repeat="market in markets()">
        <div class="row" id="market">
          <div class="col col-10"><button><i class="icon ion-trash-a"></i></button></div>
          <div class="col col-50">{{market}}</div>
      </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
