<ion-view view-title="supermercados" class="DarkBackground">
  <ion-content>

<!-- SEARCH -->
	<div class="list list-inset">
  		<label class="item item-input">
    		<i class="icon ion-search placeholder-icon"></i>
    		<input type="text" placeholder="Search">
  		</label>
	</div>


<!-- LISTA -->
<div class="list">


  <a class="item" href="#">
    <div class="row">
  <div class="col">.col</div>
  <div class="col">.col</div>
  <div class="col">.col</div>
  <div class="col">.col</div>
</div>

  </a>


</div>




  </ion-content>
</ion-view>
