<ion-view view-title="Escolha um Supermercado" class="DarkBackground">
  <ion-content>

<!-- SEARCH -->
	<div class="list list-inset">
  		<label class="item item-input">
    		<i class="icon ion-search placeholder-icon"></i>
    		<input type="text" placeholder="Search">
  		</label>
	</div>


<!-- LISTA -->
<ion-list >
  <ion-item ng-repeat="item in getSupermercados()" >
  	<div class="row">
  		<div class="col">{{item.nome}}</div>
  		<div class="col col-67">{{item.endereco}}</div>
		<div class="col col-10"><i class="icon ion-map"> Mapa</i></div>
  		<div class="col col-10"><i class="icon ion-android-cart"> Comprar</i></div>
  	</div>
  		
  </ion-item>
</ion-list>




  </ion-content>
</ion-view>
