 .DarkBackground{
    background-color:#30393A;
 }

 #carrinhoDeComparasList{

 }

 #carrinhoHeader{
 	text-align: right; 
 	background-color: #dddddd;
 }

#carrinhoFooter{
	text-align: right; 
 	background-color: #dddddd;
 	height: 50px;
 	font-size: 20px;
 	vertical-align: text-bottom;
}