 .DarkBackground{
    background-color:#30393A;
 }

 #carrinhoDeComparasList{

 }

 #carrinhoHeader{
 	text-align: right;
 	background-color: #dddddd;
 	height: 40px;
 	vertical-align: bottom;
 }

#carrinhoFooter{
	text-align: right;
 	background-color: #dddddd;
 	height: 50px;
 	font-size: 20px;
 	vertical-align: text-bottom;
 	padding-top: 10px;
}

.button-energized{
	color: #000!important;
}
